.primary-button{
    -fx-background-color:#fcc200;
    -fx-border-radius:10;
    -fx-background-radius:10;
    -fx-effect:dropshadow(gaussian,rgba(0,0,0,0.3),13,0.5,0,0)
}
.primary-button:hover{
    -fx-scale-x:1.05;
    -fx-scale-y:1.05;
    -fx-translate-z:0;
}
.input{
    -fx-border-radius:10;
    -fx-background-radius:10;
    -fx-effect:dropshadow(gaussian,rgba(0,0,0,0.3),13,0.5,0,0);
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
.input:focused{
    -fx-border-color:#fcc203;
    -fx-outline:0;
    -fx-border-width:2;
}
.text-danger{
    -fx-text-fill:#ff0000;
    
}
.btnVoltar{
    -fx-background-color:rgba(0,0,0,0);
    -fx-background-image: url("back.png");
    -fx-background-repeat:stretch;
    -fx-background-size:100%;  
    opacity: 0.1;
}
.btnVoltar:hover{
    -fx-scale-x:1.05;
    -fx-scale-y:1.05;
    -fx-translate-z:0;
}
.btnRetonar{
    -fx-background-color:#fcc200;
    opacity:0.5;
}
.comboBox{
    -fx-border-radius:10;
    -fx-background-radius:10;
    -fx-effect:dropshadow(gaussian,rgba(0,0,0,0.3),13,0.5,0,0);
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
.comboBox:hover{
    -fx-effect:unset;
}

.sucesso{
    -fx-background-image: url("success.png");
    -fx-background-size: 250px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90%;
    -fx-background-color:rgba(0,0,0,0);
}
